---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Register from '../components/Register.astro';
import Sponsors from '../components/Sponsors.astro';
import Gallery from '../components/Gallery.astro';
import Faq from '../components/Faq.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout preloadHero>
  <Header logoFetchPriority="low" />
  <main id="main-content">
    <Hero />
    <About />
    <Register />
    <Sponsors />
    <Gallery />
    <Faq />
    <Contact />
  </main>
  <Footer />
</Layout>
